body {
  background-color: #CDE6ED;
}

.encrypt {
  font-size: 40px;
  font-family: fantasy;
  margin-left: 7rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text {
  font-size: 25px;
  font-family: monospace;
  margin-left: 8rem;
}

.button {
  background-color: #04AA6D;
  border-radius: 25px;
  padding: 12px;
  box-sizing: border-box;
  margin-top: 3rem;
  margin-left: 7rem;
  margin-bottom: 16px;
  color: white;
  border: 1px solid #ccc;
}
